{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card dark-card custom-border">
        <div class="card-body text-center">
          <h1 class="text-light">{% trans "Sign Up" %}</h1>
          <p class="text-light">{% blocktrans %} Do you already have an account? Then please <a class="link text-info"
              href="{{ login_url }}">sign in</a> instead.{% endblocktrans %}</p>
          <form class="signup text-light" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form.as_p }}

            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="btn btn-signup btn-primary text-light" type="submit">{% trans "Sign Up" %} &raquo;</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}