.post-hover:hover {
  opacity: 0.8;
}

.custom-border {
  border-bottom: 2px solid #000000;
  border-right: 2px solid #000000;
  box-shadow: rgba(107, 103, 103, 0.457) 0px 3px 8px;
}

.custom-border:hover {
  border-bottom: 2px solid #191c1f;
  border-right: 2px solid #191c1f;
}

.dark-card {
  background-color: #191c1f;
}

a {
  text-decoration: none;
}
.text-outline {
  color: white;
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 5px rgba(0, 0, 0, 0.3);
}
.categories {
  display: inline-flex;
  border-top: 2px solid #6c757d;
  border-bottom: 2px solid #6c757d;
}

.active {
  font-weight: bold;
  background-color: #6c757d; /* Bootstrap's secondary color */
}

.d-inline-flex a:hover,
.active:hover {
  background-color: #6c757d; /* Bootstrap's secondary color */
}

.create-sb {
  box-shadow: rgba(23, 162, 184, 0.4) 5px 5px, rgba(23, 162, 184, 0.3) 10px 10px,
    rgba(23, 162, 184, 0.2) 15px 15px;
}

.summernote-content p img {
  max-width: 100%;
  height: auto;
}
