{% load static %}

<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LoopIt - The Community for Loop Artists and Enthusiasts</title>
    <!-- Meta Description -->
    <meta name="description"
        content="LoopIt is the ultimate community for loop artists and enthusiasts. Discuss hardware, software, techniques, and promote your work. Discover the world of looping with us!">
    <!-- Meta Keywords -->
    <meta name="keywords"
        content="Loop Artists, Looping, Live Looping, Beardyman, Dub FX, Loop Hardware, Loop Software, Loop Techniques, Music Community">
    <!-- Language -->
    <meta name="language" content="English">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body class="d-flex flex-column h-100 bg-dark">
    <!-- Navigation -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom border-dark sticky-top">
        <div class="container justify-content-center">
            <a class="navbar-brand text-light fs-3 text-outline" href="{% url 'home' %}">LoopIt</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarText">
                <ul class="navbar-nav mb-2 mb-lg-0 text-light">
                    <!-- Home with house icon -->
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none text-info fw-bold fs-6 post-hover" aria-current="page"
                            href="{% url 'home' %}">
                            <i class="fas fa-home text-light me-2"></i>Home
                        </a>
                    </li>
                    {% if user.is_authenticated %}
                    <!-- Logout with sign-out icon -->
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none text-info fw-bold fs-6 post-hover"
                            href="{% url 'account_logout' %}">
                            <i class="fas fa-sign-out-alt text-light me-2"></i>Logout
                        </a>
                    </li>
                    <!-- My Profile with user icon -->
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none text-info fw-bold fs-6 post-hover"
                            href="{% url 'my_profile' %}">
                            <i class="fas fa-user text-light me-2"></i>My Profile
                        </a>
                    </li>
                    {% if user.is_superuser %}
                    <!-- Admin with cog icon -->
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none text-info fw-bold fs-6 post-hover"
                            href="{% url 'admin:index' %}" target="_blank">
                            <i class="fas fa-cog text-light me-2"></i>Admin
                        </a>
                    </li>
                    {% endif %}
                    {% else %}
                    <!-- Register with user-plus icon -->
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none text-info fw-bold fs-6 post-hover"
                            href="{% url 'account_signup' %}">
                            <i class="fas fa-user-plus text-light me-2"></i>Register
                        </a>
                    </li>
                    <!-- Login with sign-in icon -->
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none text-info fw-bold fs-6 post-hover"
                            href="{% url 'account_login' %}">
                            <i class="fas fa-sign-in-alt text-light me-2"></i>Login
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show alert-message" role="alert">
                    {{ message | safe }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <main class="flex-shrink-0 bg-dark">
        {% block content %}
        <!-- Content -->
        {% endblock content %}
    </main>

    <!-- Footer -->
    <footer class="footer mt-auto py-3 bg-dark">
        <p class="m-2 text-center text-white">Made for Loopers around the world!</p>
    </footer>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>
</html>