{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
    <div class="column">

        <!-- Post Columns -->
        {% if user.is_authenticated %}
        <button class="nav-link text-dark fw-bold btn btn-info btn-outline-light text-center d-block my-2 mx-auto"
            onclick="location.href='{% url 'create_post' %}'">Post</button>
        {% endif %}
        <div class="container mt-5">
            <div class="row justify-content-center">
                {% for post in post_list %}
                <div class="col-md-10 mb-4">
                    <div class="card dark-card custom-border">
                        <div class="card-body post-hover">
                            <a href="{% url 'post_detail' post.slug %}" class="post-link">
                                <p class="card-title text-light h4">{{ post.title }}</p>
                                <p class="card-text text-light h6">by
                                    {{ post.author|capfirst }} in
                                    {{ post.category.name }} -
                                    {{ post.created_on|date:"Y-m-d H:i"|default:"" }} -
                                    {{ post.comments.count }} <i class="far fa-comments"></i>

                                </p>
                            </a>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:10 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
                {% endif %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
</div>
{%endblock%}