{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container">
    <div class="row g-0">
        <div class="col-md-6">
            <h1 class="text-light">{{ post.title }}</h1>
            <p class="text-light">{{ post.author }} - {{ post.created_on|date:"Y-m-d H:i"|default:"" }}</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card dark-card custom-border text-light mb-4 mt-3">
            <div class="card-body">
                <p class="card-text">
                    {{ post.content | safe }}
                </p>
                <div class="row">
                    <div class="col-1">
                        <strong class="text-light"><i class="far fa-comments"></i> {{ comments.count }}</strong>
                        {% if user == post.author %}
                        <a href="{% url 'delete_post' post.slug %}">Delete Post</a>
                        <a href="{% url 'edit_post' post.slug %}">Edit Post</a>
                        {% endif %}
                        {% if user.is_authenticated %}
                        <p>Debug: content_type = 'post', object_id = {{ post.id }}</p>
                        <a href="{% url 'report_item' 'post' post.id %}" class="report-button">Report</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h3 class="text-light mt-3 ms-3">Comments:</h3>
    <div class="col card dark-card custom-border text-light mb-4 mt-4">
        <div class="card-body">
            {% for comment in comments %}
            <div class="text-light">
                <p class="fw-bold fs-5 text-decoration-underline font-monospace lh-lg">
                    {{ comment.author }} <span class="text-info">-</span>
                    {{ comment.created_on|date:"Y-m-d" }} <span class="text-info">-</span>
                    {{ comment.created_on|date:"H:i:s" }}<span class="text-info">:</span>
                    {% if user.is_authenticated %}
                <p>Debug: content_type = 'comment', object_id = {{ comment.id }}</p>
                <a href="{% url 'report_item' 'comment' comment.id %}" class="report-button">Report</a>

                {% endif %}
                </p>

                <div class="my-3 mx-3">
                    <p>{{ comment.body | linebreaks }}</p>
                </div>
            </div>
            <hr>
            {% endfor %}
        </div>
    </div>
    {% if user.is_authenticated %}

    <div class="col card dark-card custom-border text-light mb-4 mt-3">
        <div class="card-body">

            <h3>Leave a comment:</h3>
            <p>Posting as: {{ user.username }}</p>
            <form method="post">
                {{ comment_form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-signup btn-lg text-light">Submit</button>
            </form>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}