{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-8 text-light">
            <h2 class="display-4 text-center">{{ post.title }}</h2>
            <hr class="my-4 bg-light">
            <div class="text-center mt-2">
                <small class="text-light">
                    <span class="fw-bold">by:</span>
                    <a href="{% url 'user_profile' post.author.username %}"
                        class="text-decoration-none text-info fw-bold fs-6 post-hover">
                        {{ post.author|capfirst }}
                    </a>
                    <span class="mx-2 fs-6">|</span>
                    <span class="fw-bold">in:</span> {{ post.category.name }}
                    <span class="mx-2 fs-6">|</span>
                    <span class="fw-bold">Date:</span> {{ post.created_on|date:"Y-m-d H:i"|default:"" }}
                </small>
            </div>
            <div class="card dark-card custom-border text-light mb-4 mt-3">
                <div class="card-body text-start"> <!-- Left-aligned text -->
                    <p class="card-text">{{ post.content | safe }}</p>
                    <div class="d-flex justify-content-between">
                        <strong class="text-light"><i class="far fa-comments"></i> {{ comments.count }}</strong>
                        <div>
                            {% if user == post.author %}
                            <a href="{% url 'delete_post' post.slug %}"
                                class="report-button text-decoration-none fs-6 fw-bold text-info post-hover">Delete</a>
                            |
                            <a href="{% url 'edit_post' post.slug %}"
                                class="report-button text-decoration-none fs-6 fw-bold text-info post-hover">Edit</a> |
                            {% endif %}
                            {% if user.is_authenticated %}
                            <a href="{% url 'report_item' 'post' post.id %}"
                                class="report-button text-decoration-none fs-6 fw-bold text-info post-hover">Report</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            {% if comments.count > 0 %}
            <h3 class="text-light text-center mt-3">Comments:</h3>
            <div class="card dark-card custom-border text-light mb-4 mt-3">
                <div class="card-body text-start"> <!-- Left-aligned text -->
                    {% for comment in comments %}
                    <div class="text-light">
                        <!-- Flexbox container -->
                        <div class="d-flex align-items-center">
                            <!-- For each comment -->
                            <p class="fs-6 text-decoration-none lh-lg mb-0"> <!-- removed margin-bottom -->
                                <!-- Link to user's profile -->
                                <a href="{% url 'user_profile' comment.author.username %}"
                                    class="text-decoration-none fs-6 fw-bold text-info post-hover">
                                    {{ comment.author|capfirst }}
                                </a>

                                <!-- Comment date and time -->
                                <span class="text-light ms-2">{{ comment.created_on|date:"Y-m-d" }}</span>
                                <span class="text-info">-</span>
                                <span class="text-light">{{ comment.created_on|date:"H:i:s" }}</span>
                                <span class="text-info">:</span>
                            </p>

                            <!-- Report button (aligned to the right) -->
                            {% if user.is_authenticated %}
                            <a href="{% url 'report_item' 'comment' comment.id %}"
                                class="text-decoration-none fs-6 fw-bold text-info post-hover ms-auto">Report</a>
                            {% endif %}
                        </div>

                        <div class="my-3 mx-3">
                            <p>{{ comment.body | linebreaks }}</p>
                        </div>

                        <hr>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% if user.is_authenticated %}
            <div class="card dark-card custom-border text-light mb-4 mt-3">
                <div class="card-body">
                    <h3 class="text-center">Leave a comment:</h3>
                    <p class="text-center">Posting as: {{ user.username }}</p>
                    <form method="post">
                        {{ comment_form | crispy }}
                        {% csrf_token %}
                        <button type="submit"
                            class="btn text-dark fw-bold btn btn-info btn-outline-light text-center">Submit</button>
                    </form>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}