{% extends 'base.html' %}

{% load crispy_forms_tags %} {# Don't forget to load crispy_forms_tags at the top of your template #}

{% block content %}
<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6 text-light text-center">
            <h2 class="display-4">Report {{ content_item }}</h2>
            <hr class="my-4 bg-light">
            <form method="post" class="mt-4">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="mt-3">
                    <button type="submit" class="btn btn-primary">Submit Report</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}